body {
  color: #666666;
  background-color: #06392c;
  width: 80%;
  margin: 0 auto;
}

header {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000333;
}

h1 {
  color: #fff;
  padding: 0px 25px;
}

h2 {
  color: #e4c575;
}

nav {
  background-color: #e4c575;
  padding: 10px 0px;
}

nav a {
  margin: 0px 10px;
  font-weight: bold;
}

main {
  background-color: #fff;
  padding-bottom: 15px;
}

main > img {
  width: 100%;
}

main > div {
  padding: 10px;
}

.green_text {
  color: #06392c;
  font-size: 1.2em;
}

.page_wrapper {
  box-shadow: 3px 3px 3px #e4c575;
}

.no_margin_bottom {
  margin-bottom: 0px;
}

.no_margin {
  margin: 0px;
}

footer {
  background-color: #fff;
  text-align: center;
}
