body {
  background-color: burlywood;
  background-image: url(./images/ruins.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#container {
  width: 80%;
  margin: 0 auto; 
  background: rgba(255, 233, 222, 0.6);
  border: 3px #000 dotted;
  box-shadow: 5px 5px 5px #000;
}

h1 {
  padding: 5px 15px 10px 40px;
  border: 1px #161f03 solid;
  border-radius: 10px 30px 75px 50px;
  color: #2f5700;
  text-shadow: 2px 5px 2px #ff4000;
  box-shadow: 5px 5px 5px #000;
}

.image-link {
  text-decoration: none;
}

img {
  border: 1px #000 solid;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #000;
  margin: 10px;
  transition: all 0.3s ease;
}

img:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 10px #000;
  border: 1px #000 solid;
  border-radius: 10px;
  margin: 10px;
}

#eagle {
  position: absolute;
  top: 30vh;
  left: -20vw;
  width: 200px;
  animation: fly 10s linear infinite;
  border: none;
  box-shadow: none;
}
@keyframes fly {
  from {
    transform: translateX(120vw) translateY(30vh); 
  }
  to   {
    transform: translateX(0vh) translateY(0vh);
  }
}