body {
  background-color: #a3bbd1;
}

#container {
  width: 80%;
  margin: 0 auto;
  background-color: #a3bbd1
}

header {
  background-color: #e1e3e5;
  padding: 10px;
}

nav {
  background-color: #577797
  float: left;
  width: 100px;
  padding: 10px;
  
}

main {
  background-color: #9fcbf7;
  padding: 10px;
}

footer {
  background-color: #606161;
  padding: 10px;
}