body {
  background-color: #a3bbd1;
}
#container {
  width: 80%;
  margin: 0px auto;
  background-color: #a3bbd1;
}
header {
  background-color: #e1e3e5;
  padding: 10px;
}
nav {
  background-color: #577797;
  float: left;
  width: 20%;
  padding: 10px;
  text-align: center;
  color: #fff;
  position: fixed;
}
nav ul li {
  display: block;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0;
}
nav ul li a:hover {
  color: #ff4000;
  padding-left: 15px;
}
nav ul li a:visited {
  color: #ffff00;
}
main {
  background-color: #9fcbf7;
  float: left;
  width: 60%;
  padding: 10px;
  margin-left: 20%;
}
aside {
  width: 20%;
  float: left;
  background-color: #fff000;
}
footer {
  background-color: #606161;
  padding: 10px;
}
.clear {
  clear: both;
}
img {
  float: right;
  width: 150px;
  height: 150px;
}
.para {
  background-color: #e1e3e5;
  overflow: auto;
}
* {
  box-sizing: border-box;
}
footer {
  background-color: #606161;
  padding: 10px;
  text-align: center;
  color: #fff;
}